/* fonts */
/* bubblegum-sans */
   @import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
/* exo */
   @import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

.bubblegum-sans {
  font-family: "Bubblegum Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: azure;
  opacity: 100%;
}
.exo {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color:azure;
  opacity: 100%;
}
